.body{
    margin: 0;
    font-family: Arial;
}
.container{
    height:100vh;
    background: url(images/apple1.jpg) no-repeat;
    background-size:cover ;
    background-position: center;
}
h2{
    font-size: 56px;
}
.container h3{
    font-size: 28px;
}

@media all and (min-width:320px) and (max-width:480px) {
    .container h2 {
        font-size:32px ;
    }
    .container h3 {
        font-size: 19px;
    }
}

@media all and (min-width:769px) and (max-width:1024px){
    .container h2 {
        font-size:48px ;
    }
    .container h3 {
        font-size: 24px;
    }

}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
a{
    text-decoration: none;
    color: black;
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15px;
    
    
    
}
.containerPrincipal{
    background-color: #F5F5F7 ;
}

h1{
    font-size: 96px;
    text-align: center;
}

.container1 p{
    font-size: 24px;
    text-align: center;
}

@media all and (min-width:320px) and (max-width:480px){
    h1{
        font-size: 48px;
    }
    p{
        font-size: 17px;
    }

}

@media all and (min-width:769px) and (max-width:1024px){
    h1{
        font-size: 48px;
    }
    p{
        font-size: 21px;
    }

}

@media all and (min-width:1025px) and (max-width:1200px){
    h1{
        font-size: 64px;
    }
    p{
        font-size: 24px;
    }
}

.container2{
    display: flex;
    justify-content: center;
    gap: 30px;
    
   
    
    
   
    
    
}
.container3{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
   width: 40%;
    border-radius: 10px;
    
}
.container3 h3{
    color: white;
    font-family: Arial;
}
.container3 p{
    color: white;
    font-family: Arial;
}
.container3 a{
    color:dodgerblue;
}
.container3 button{
    color: white;
    background-color: dodgerblue;
    border-radius: 10px;
}

.container3_1{
    padding-bottom: 143px;
}

.container4{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 40%;
    border-radius: 10px;
   

}
.container4 h3{
    color: black;
    font-family: Arial;
}
.container4 p{
    color: black;
    font-family: Arial;
}
.container4 a{
    color:dodgerblue;
}
.container4 button{
    color: white;
    background-color: dodgerblue;
    border-radius: 10px;
}
.container4_1{
    padding-bottom: 125px;
}
img{
    height: auto;
    width: 100%;
}
.container5{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 40%;
    border-radius: 10px;
   

}
.container5 h3{
    color: black;
    font-family: Arial;
}
.container5 p{
    color: black;
    font-family: Arial;
}
.container5 a{
    color:dodgerblue;
}
.container5 button{
    color: white;
    background-color: dodgerblue;
    border-radius: 10px;
}
.container5_1{
    padding-bottom: 125px;
}
.container6{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 40%;
    border-radius: 10px;
   

}
.container6 h3{
    color: black;
    font-family: Arial;
}
.container6 p{
    color: black;
    font-family: Arial;
}
.container6 a{
    color:dodgerblue;
}
.container6 button{
    color: white;
    background-color: dodgerblue;
    border-radius: 10px;
}
.container6_1{
    padding-bottom: 125px;
}
.container2_1{
    display: flex;
    flex-direction: row;
}